*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1f5581;
    width: 100%;
    height: 100%;
  }

.listOfAccounts{
    margin: 5%;
    height: 30vh;
    width: 90%;
    background-color: #0683dc;
    gap: 10px;
    select{
        width: 100%;
    }
}

#accountsSection{
    margin: 3%;
    padding-top: 1%;
    gap: 50px;
    h2{
        padding-bottom: 20px;
    }
    p{
        padding-bottom: 20px;
    }
}



